
.table {
    border-style: white;
    padding: 15px 300px;
    border-bottom: 1px solid white;
}
tr {
    border-bottom: 1px solid white;
}
td {
    border-bottom: 1px solid white;
}

#table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 10px;
  }
  
  #table td, #table th {
    border: 1px solid #ddd;
    padding: 30px;
    text-align: center;
  }
  
  td {
    font-size: 20px ; 
    
  }
  
  #table tr:nth-child(even){background-color: #f2f2f2;}
  
  #table tr:hover {background-color: #ddd;}
  
  #table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 25px ; 
  }